.margin-top-10 {
	margin-top: 10px;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-30 {
	margin-top: 30px;
}

.parallax-container#parallax-1 {
  height: 500px;
}

footer.page-footer {
	padding-top: 0px !important;
}

.collapsible-body {
	margin-top: 20px;
	margin-left: 25px;
}

#tools-table_filter {
	display: none;
}

#tools-table td {
	text-align: center;
}

.tool-icon {
	width: 100px;
	border-radius: 0px;
}